@page
@model ErrorModel
@{
    ViewData["Title"] = "About";
}

<h4>About</h4>

This site is provided 'as is' with no warranties, and confer no rights.
<br />
<br />
Feedback welcome / appreciated.
<br />
<br />
Mark Harrison <br />
<a href="https://github.com/markharrison" target="_blank">https://github.com/markharrison</a>
 
